.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

s
}


.zone {
    background-color: yellow;
    display: flex;
    height: 100px;
    width: 100px;
    border: solid 2px;

}


.left {
  
}

.middle {
  
    
}



